<h3>
	Employees
	<button class="btn btn-primary pull-right" (click)="addEmployee()">
		Add new employee
	</button>
	<div class="clearfix"></div>
</h3>
<table class="table table-striped table-hover">
	<thead>
		<tr>
		<th scope="col">#</th>
		<th scope="col" sortable="firstName" (sort)="onSort($event)">First Name<i class="fa fa-fw fa-sort"></i></th>
		<th scope="col" sortable="lastName" (sort)="onSort($event)">Last name<i class="fa fa-fw fa-sort"></i></th>
		<th scope="col" sortable="department" (sort)="onSort($event)">Department<i class="fa fa-fw fa-sort"></i></th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let employee of employees" (click)="employeeDetails(employee)">
			<th scope="row">{{ employee.id }}</th>
			<td><ngb-highlight [result]="employee.firstName"></ngb-highlight></td>
			<td><ngb-highlight [result]="employee.lastName"></ngb-highlight></td>
			<td><ngb-highlight [result]="employee.department.departmentName"></ngb-highlight></td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-between p-2">
	<ngb-pagination
	(pageChange)="onPageChange($event)" [collectionSize]="total" [(page)]="pageNumber" [pageSize]="pageSize">
	</ngb-pagination>
</div>

<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<ng-template #modalContent let-close="close">
<div class="modal-header">
	<h5 class="modal-title">{{ modalData?.action }}</h5>
	<button type="button" class="close" (click)="close(); reloadData()">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
		<div *ngIf="!modalData?.employee"><app-create-employee></app-create-employee></div>
		<!--<div *ngIf="modalData?.candidate"><app-edit-candidate></app-edit-candidate></div>-->
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-outline-secondary" (click)="close(); reloadData()">
	OK
	</button>
</div>
</ng-template>