<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3 class="text-primary text-center">Edit Employee</h3>
<div class="container">
  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label>First name: </label>
			<input class="form-control" type="text" formControlName="firstName" [ngClass]="{ 'is-invalid': form.firstName.errors && submitted }">
      <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
          <div *ngIf="form.firstName.errors.required">First name is required</div>
      </div>
    </div>  
    <div class="form-group">
      <label>Last name: </label>
			<input class="form-control" type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': form.lastName.errors && submitted }">
      <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback">
          <div *ngIf="form.lastName.errors.required">Last name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Department: </label>
      <select class="form-control" id="departmentName" [compareWith]="compareDepartments" formControlName="departmentName" [(ngModel)]="selectedDepartment" [ngClass]="{ 'is-invalid': form.departmentName.errors && submitted }" (ngModelChange)="updateSelectedValue($event)">
        <option *ngFor="let dep of departments" [(ngValue)]="dep">{{dep.departmentName}}</option>
      </select>
      <div *ngIf="submitted && form.departmentName.errors" class="form-text text-muted">
          <div *ngIf="form.departmentName.errors.required">This field is required</div>
      </div>
    </div>
    <!--
    <div class="form-group">
      <label>Description: </label>
      <textarea id="form107" class="md-textarea form-control" formControlName="description" [ngClass]="{ 'is-invalid': form.description.errors && submitted }"></textarea>
      <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
          <div *ngIf="form.description.errors.required">Description is required</div>
      </div>
    </div>
    <div class="form-group">
      <div class="container">
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Existing attachments</th>
            <th width="10%">
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let attach of candidate.attachments">
            <td>{{attach.fileName}}</td>
            <td class="text-center" width="10%">
                <i (click)="removeAttachment()" class="fa fa-remove" style="font-size:24px;color:red"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
        
      <label>Add new attachment: </label><br/>
      <input type="file" ng2FileSelect accept=".docx, .doc" [uploader]="uploader" multiple/>
      <br>
      <div class="drop-zone">
      <div ng2FileDrop [uploader]="uploader" class="drop-zone">
          Drag and drop files to upload
      </div>
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th width="90%">
            File Name
          </th>
          <th width="10%">
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of uploader.queue">
          <th width="90%">
            {{item.file.name}}
          </th>
          <th class="text-center" width="10%"> 
            <i (click)="removeAttachment()" class="fa fa-remove" style="font-size:24px;color:red"></i>  
          </th>
        </tr>
        </tbody>
      </table>
      <br>
    </div>
 -->


      <br>

    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Update</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		</div>
	</form>
</div>

<div *ngIf="message" class="alert alert-success">{{message}}</div>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
