<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h3>
  Candidates
  <button class="btn btn-primary pull-right" (click)="addCandidate()">
    Add new candidate
  </button>
  <div class="clearfix"></div>
</h3>
<table class="table table-striped table-hover">
	<thead>
		<tr>
		<th scope="col">#</th>
		<th scope="col" sortable="firstName" (sort)="onSort($event)" >
			<i id="firstName"></i>First Name</th>
		<th scope="col" sortable="lastName" (sort)="onSort($event)">
			<i id="lastName"></i>Last name</th>
		<th scope="col" sortable="telephone" (sort)="onSort($event)">
			<i id="telephone"></i>Phone</th>
		<th scope="col" sortable="mail" (sort)="onSort($event)">
			<i id="mail"></i>Mail</th>
		<th scope="col" sortable="skype" (sort)="onSort($event)">
			<i id="skype"></i>Skype</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let candidate of candidates" (click)="candidateDetails(candidate)">
			<th scope="row">{{ candidate.id }}</th>
			<td><ngb-highlight [result]="candidate.firstName"></ngb-highlight></td>
			<td><ngb-highlight [result]="candidate.lastName"></ngb-highlight></td>
			<td><ngb-highlight [result]="candidate.telephone"></ngb-highlight></td>
      <td><ngb-highlight [result]="candidate.mail"></ngb-highlight></td>
			<td><ngb-highlight [result]="candidate.skype"></ngb-highlight></td>
		</tr>
	</tbody>
</table>

<div class="d-flex justify-content-center p-2">
	<ngb-pagination
	(pageChange)="onPageChange($event)" [collectionSize]="total" [(page)]="pageNumber" [pageSize]="pageSize">
	</ngb-pagination>
</div>


<div *ngIf="error" class="alert alert-danger">{{error}}</div>

<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">{{ modalData?.action }}</h5>
    <button type="button" class="close" (click)="close(); reloadData()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
		<div *ngIf="!modalData?.candidate"><app-create-candidate></app-create-candidate></div>
		<!--<div *ngIf="modalData?.candidate"><app-edit-candidate></app-edit-candidate></div>-->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close(); reloadData()">
      OK
    </button>
  </div>
</ng-template>