<h3 class="text-primary text-center">Statistic</h3>

<div class="container">
    <div class="chart">
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
    <div>
      <button class="btn btn-primary" (click)="pieChartLegend=!pieChartLegend">Toggle Legend</button>
      <button class="btn btn-primary" (click)="changeLegendPosition()">Change Legend Position</button>
    </div>
</div>